# Don't ignore .vite/deps/
!node_modules/.vite/
!node_modules/.vite/deps/

# Ignore everything in .vite/deps/ by default
node_modules/.vite/deps/*

# Don't ignore the specific file
!node_modules/.vite/deps/chunk-REFQX4J5.js
node_modules
build
.git
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.idea
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
