.addQuizButton {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.tableRow {
  background-color: #c9c9c9;
}

.tableRow:nth-of-type(odd) {
  background-color: #ffffff;
}

.table {
  margin: 0 auto;
  max-width: 900px;
  min-height: 500px;
  overflow-x: auto;
  overflow-y: hidden;
}

.table_head {
  background-color: var(--brand-color-contactbook);
}

.avatar {
  background-color: #a1a1a1;
  border: 1px solid #ffffff;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  font-size: 18px;
  color: var(--action-background-color);
}

.link:hover {
  text-decoration: none;
  color: var(--link-hover);
  font-weight: 600;
  cursor: pointer;
}

.title_add {
  background-color: var(--brand-color-contactbook);
  color: #ffffff;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title_delete {
  background-color: #bd3a3a;
  color: #ffffff;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.add {
  color: #006fff;
  font-size: 40px;
}

.close {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.inviteMemberButton {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.done {
  color: #006fff;
  font-size: 50px;
}

.done_leave {
  color: red;
  font-size: 50px;
}
