.box_name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.table {
  margin: 0 auto;
  max-width: 900px;
  overflow-x: auto;
  overflow-y: hidden;
}

.table_head {
  background-color: var(--brand-color-contactbook);
}

.paper {
  width: 100%;
  overflow: hidden;
  padding: 0;
}

.swap_icon {
  font-size: 20px;
  cursor: pointer;
  color: #ffffff;
}

.swap_icon:hover {
  color: #000000;
}
