.tableRow {
  background-color: #c9c9c9;
}

.tableRow:nth-of-type(odd) {
  background-color: #ffffff;
}

.table {
  margin: 0 auto;
  max-width: 900px;
  min-height: 500px;
  overflow-x: auto;
  overflow-y: hidden;
}

.table_head {
  background-color: var(--brand-color-contactbook);
}

.avatar {
  background-color: #a1a1a1;
  border: 1px solid #ffffff;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

