.avatar {
  background-color: var(--brand-color-contactbook);
  border: 1px solid #ffffff;
  margin-right: 15px;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.nav_link {
  color: var(--link);
  text-decoration: none;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 12px;
}

.nav_link:hover {
  color: var(--link-hover);
  cursor: pointer;
}

.username {
  margin-right: 20px;
  font-size: 12px;
  font-weight: bold;
  color: var(--link-hover);
}

.username:hover {
  color: var(--link-hover);
  cursor: pointer;
}

.email {
  margin-right: 20px;
  font-size: 12px;
  font-weight: bold;
}

.email:hover {
  color: var(--link-hover);
  cursor: pointer;
}